<div class="flash"
     (@flashState.done)="flashStateDone($event)"
     [@flashState]="flashState">

</div>
<div class="container">
  <video #video [ngStyle]="{display:preview ? 'none':''}" class="video"></video>
  <img #img [ngStyle]="{display:!preview ? 'none':''}" class="photo">
  <canvas #canvas style="display: none;"></canvas>
  <p class="timer" #timer [ngStyle]="{display:counter === 0 ? 'none':''}">{{counter}}</p>
</div>
<audio #beep class="beep" src="assets/sounds/countdown.wav"></audio>
<audio #flash class="flash" src="assets/sounds/flash.wav"></audio>
