.flash {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background: white;
}
.container {
  position: relative;
  padding: 40px;

  video {
    width: 100%;
    z-index: -100;
    transform: rotateY(180deg);
  }
  img {
    width: 100%;
  }

  .timer {
    color: white;
    font-size: 10em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
