.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .form {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    text-align: center;
  }

  pb-camera {
    flex-grow: 2;
    height: 100%;
    width: auto;
  }

  pb-photo-list {
    flex-grow: 1;
    width: 35%;
    height: 100vh;
    overflow-y: scroll;
  }


}
