ul {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  min-height: 400px;
  width: 270px;
}

ul li {
  margin-left: 20px;
}
img {
  width: 200px;
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.polaroid {
  width: 220px;
  height: 173px;
  position: relative;
  float: left;
  background: #1e1c18;
  border: 7px solid #f5f5f5;
  border-bottom: 50px solid #f5f5f5;
  box-shadow: 0 0 6px -1px #000;
  overflow: hidden;
  left: 0px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  clear: both;
}

.polaroid img {
  width: 100%;
  animation: fade-in 8s ease-in;
  animation-iteration-count: 1;
}

